backups/n8n-backup-2026-02-20.json
{
  "version": "1.0.6",
  "timestamp": "2026-02-20T13:52:21.833Z",
  "workflowCount": 5,
  "credentialsCount": 5,
  "credentialsError": null,
  "credentialsInfo": "Successfully extracted 5 credentials from workflows",
  "workflows": [
    {
      "updatedAt": "2026-02-20T10:33:57.156Z",
      "createdAt": "2026-02-20T06:35:11.597Z",
      "id": "o5LFZ44iJ8wt9VcX",
      "name": "Notification from VK group",
      "description": null,
      "active": true,
      "isArchived": false,
      "nodes": [
        {
          "parameters": {
            "httpMethod": "POST",
            "path": "1dc93028-aae8-4c72-8b5c-361ad47fa83a",
            "options": {
              "responseData": "ok"
            }
          },
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 2.1,
          "position": [
            0,
            0
          ],
          "id": "d5c09981-33f4-4a36-9f92-5309468bfbcf",
          "name": "Webhook",
          "webhookId": "1dc93028-aae8-4c72-8b5c-361ad47fa83a"
        },
        {
          "parameters": {
            "workflowId": {
              "__rl": true,
              "value": "0GNr1mrgOjgfbGgJ",
              "mode": "list",
              "cachedResultUrl": "/workflow/0GNr1mrgOjgfbGgJ",
              "cachedResultName": "Telegram Notification Service"
            },
            "workflowInputs": {
              "mappingMode": "defineBelow",
              "value": {
                "message": "={{ $json.body.object.message.text }}",
                "time": "={{ $json.body.object.message.date }}",
                "title": "VK Группа · Новое сообщение",
                "url": "https://vk.com/gim229013867"
              },
              "matchingColumns": [],
              "schema": [
                {
                  "id": "time",
                  "displayName": "time",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "canBeUsedToMatch": true,
                  "type": "number",
                  "removed": false
                },
                {
                  "id": "title",
                  "displayName": "title",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "canBeUsedToMatch": true,
                  "type": "string",
                  "removed": false
                },
                {
                  "id": "message",
                  "displayName": "message",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "canBeUsedToMatch": true,
                  "type": "string",
                  "removed": false
                },
                {
                  "id": "url",
                  "displayName": "url",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "canBeUsedToMatch": true,
                  "type": "string",
                  "removed": false
                }
              ],
              "attemptToConvertTypes": false,
              "convertFieldsToString": true
            },
            "options": {
              "waitForSubWorkflow": false
            }
          },
          "type": "n8n-nodes-base.executeWorkflow",
          "typeVersion": 1.3,
          "position": [
            224,
            0
          ],
          "id": "3ed317c9-b346-49a3-86a7-fad4bed8f407",
          "name": "Call 'Telegram Notification Service'"
        }
      ],
      "connections": {
        "Webhook": {
          "main": [
            [
              {
                "node": "Call 'Telegram Notification Service'",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "settings": {
        "executionOrder": "v1",
        "availableInMCP": false
      },
      "staticData": null,
      "meta": {
        "templateCredsSetupCompleted": true
      },
      "pinData": {},
      "versionId": "593f5420-f149-4f17-bef4-b2e9b4df5c74",
      "activeVersionId": "593f5420-f149-4f17-bef4-b2e9b4df5c74",
      "versionCounter": 8,
      "triggerCount": 1,
      "shared": [
        {
          "updatedAt": "2026-02-20T06:35:11.597Z",
          "createdAt": "2026-02-20T06:35:11.597Z",
          "role": "workflow:owner",
          "workflowId": "o5LFZ44iJ8wt9VcX",
          "projectId": "XeBXiP5yJsi5DYCS",
          "project": {
            "updatedAt": "2026-02-20T06:29:28.274Z",
            "createdAt": "2026-02-20T06:29:02.050Z",
            "id": "XeBXiP5yJsi5DYCS",
            "name": "Admin Admin <konstantinkulebaev@gmail.com>",
            "type": "personal",
            "icon": null,
            "description": null,
            "creatorId": "ebcf2b09-cd83-42f3-b5e0-89c4fcaad4a1",
            "projectRelations": [
              {
                "updatedAt": "2026-02-20T06:29:02.050Z",
                "createdAt": "2026-02-20T06:29:02.050Z",
                "userId": "ebcf2b09-cd83-42f3-b5e0-89c4fcaad4a1",
                "projectId": "XeBXiP5yJsi5DYCS",
                "user": {
                  "updatedAt": "2026-02-20T07:00:31.077Z",
                  "createdAt": "2026-02-20T06:29:01.427Z",
                  "id": "ebcf2b09-cd83-42f3-b5e0-89c4fcaad4a1",
                  "email": "konstantinkulebaev@gmail.com",
                  "firstName": "Admin",
                  "lastName": "Admin",
                  "personalizationAnswers": null,
                  "settings": {
                    "userActivated": true,
                    "firstSuccessfulWorkflowId": "B2QRqtVwapqY1zsf",
                    "userActivatedAt": 1771570828063
                  },
                  "disabled": false,
                  "mfaEnabled": false,
                  "lastActiveAt": "2026-02-20",
                  "isPending": false
                }
              }
            ]
          }
        }
      ],
      "tags": [],
      "activeVersion": {
        "updatedAt": "2026-02-20T10:15:50.739Z",
        "createdAt": "2026-02-20T10:15:40.901Z",
        "versionId": "593f5420-f149-4f17-bef4-b2e9b4df5c74",
        "workflowId": "o5LFZ44iJ8wt9VcX",
        "nodes": [
          {
            "parameters": {
              "httpMethod": "POST",
              "path": "1dc93028-aae8-4c72-8b5c-361ad47fa83a",
              "options": {
                "responseData": "ok"
              }
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
              0,
              0
            ],
            "id": "d5c09981-33f4-4a36-9f92-5309468bfbcf",
            "name": "Webhook",
            "webhookId": "1dc93028-aae8-4c72-8b5c-361ad47fa83a"
          },
          {
            "parameters": {
              "workflowId": {
                "__rl": true,
                "value": "0GNr1mrgOjgfbGgJ",
                "mode": "list",
                "cachedResultUrl": "/workflow/0GNr1mrgOjgfbGgJ",
                "cachedResultName": "Telegram Notification Service"
              },
              "workflowInputs": {
                "mappingMode": "defineBelow",
                "value": {
                  "message": "={{ $json.body.object.message.text }}",
                  "time": "={{ $json.body.object.message.date }}",
                  "title": "VK Группа · Новое сообщение",
                  "url": "https://vk.com/gim229013867"
                },
                "matchingColumns": [],
                "schema": [
                  {
                    "id": "time",
                    "displayName": "time",
                    "required": false,
                    "defaultMatch": false,
                    "display": true,
                    "canBeUsedToMatch": true,
                    "type": "number",
                    "removed": false
                  },
                  {
                    "id": "title",
                    "displayName": "title",
                    "required": false,
                    "defaultMatch": false,
                    "display": true,
                    "canBeUsedToMatch": true,
                    "type": "string",
                    "removed": false
                  },
                  {
                    "id": "message",
                    "displayName": "message",
                    "required": false,
                    "defaultMatch": false,
                    "display": true,
                    "canBeUsedToMatch": true,
                    "type": "string",
                    "removed": false
                  },
                  {
                    "id": "url",
                    "displayName": "url",
                    "required": false,
                    "defaultMatch": false,
                    "display": true,
                    "canBeUsedToMatch": true,
                    "type": "string",
                    "removed": false
                  }
                ],
                "attemptToConvertTypes": false,
                "convertFieldsToString": true
              },
              "options": {
                "waitForSubWorkflow": false
              }
            },
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1.3,
            "position": [
              224,
              0
            ],
            "id": "3ed317c9-b346-49a3-86a7-fad4bed8f407",
            "name": "Call 'Telegram Notification Service'"
          }
        ],
        "connections": {
          "Webhook": {
            "main": [
              [
                {
                  "node": "Call 'Telegram Notification Service'",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          }
        },
        "authors": "Admin Admin",
        "name": "Version 593f5420",
        "description": "",
        "autosaved": false,
        "workflowPublishHistory": [
          {
            "createdAt": "2026-02-20T10:15:50.728Z",
            "id": 6,
            "workflowId": "o5LFZ44iJ8wt9VcX",
            "versionId": "593f5420-f149-4f17-bef4-b2e9b4df5c74",
            "event": "activated",
            "userId": "ebcf2b09-cd83-42f3-b5e0-89c4fcaad4a1"
          }
        ]
      }
    },
    {
      "updatedAt": "2026-02-20T10:33:53.312Z",
      "createdAt": "2026-02-20T06:41:56.602Z",
      "id": "B2QRqtVwapqY1zsf",
      "name": "Boosty subs to Data Table",
      "description": null,
      "active": true,
      "isArchived": false,
      "nodes": [
        {
          "parameters": {
            "url": "https://api.boosty.to/v1/blog/kulebaevadaria/subscribers",
            "authentication": "genericCredentialType",
            "genericAuthType": "httpBearerAuth",
            "sendQuery": true,
            "queryParameters": {
              "parameters": [
                {
                  "name": "sort_by",
                  "value": "on_time"
                },
                {
                  "name": "limit",
                  "value": "200"
                },
                {
                  "name": "order",
                  "value": "lt"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.3,
          "position": [
            416,
            -96
          ],
          "id": "86aee0c5-08b1-4c96-bf25-4e8acb76e53b",
          "name": "HTTP Request",
          "credentials": {
            "httpBearerAuth": {
              "id": "kAG7U4K6lerXOxcl",
              "name": "Bearer Auth account | Boosty"
            }
          }
        },
        {
          "parameters": {
            "fieldToSplitOut": "data",
            "options": {}
          },
          "type": "n8n-nodes-base.splitOut",
          "typeVersion": 1,
          "position": [
            640,
            -96
          ],
          "id": "205f56b7-926c-49ec-a9d0-64df6d6a8410",
          "name": "Split Out"
        },
        {
          "parameters": {
            "rule": {
              "interval": [
                {
                  "triggerAtHour": 10
                }
              ]
            }
          },
          "type": "n8n-nodes-base.scheduleTrigger",
          "typeVersion": 1.3,
          "position": [
            192,
            -96
          ],
          "id": "0c334e6d-0236-4515-8727-59c4ef46f6eb",
          "name": "Schedule Trigger"
        },
        {
          "parameters": {
            "operation": "upsert",
            "dataTableId": {
              "__rl": true,
              "value": "25QXaM48qGmKjxHa",
              "mode": "list",
              "cachedResultName": "Boosty subs",
              "cachedResultUrl": "/projects/XeBXiP5yJsi5DYCS/datatables/25QXaM48qGmKjxHa"
            },
            "filters": {
              "conditions": [
                {
                  "keyName": "userId",
                  "keyValue": "={{ $json.id }}"
                }
              ]
            },
            "columns": {
              "mappingMode": "defineBelow",
              "value": {
                "subscribed": "={{ $json.subscribed }}",
                "price": "={{ $json.level.price }}",
                "payments": "={{ $json.payments }}",
                "userId": "={{ $json.id }}",
                "name": "={{ $json.name }}",
                "email": "={{ $json.email }}",
                "status": "={{ $json.status }}",
                "levelName": "={{ $json.level.name }}",
                "onTime": "={{ DateTime.fromSeconds($json.onTime) }}"
              },
              "matchingColumns": [],
              "schema": [
                {
                  "id": "userId",
                  "displayName": "userId",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "readOnly": false,
                  "removed": false
                },
                {
                  "id": "name",
                  "displayName": "name",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "readOnly": false,
                  "removed": false
                },
                {
                  "id": "email",
                  "displayName": "email",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "readOnly": false,
                  "removed": false
                },
                {
                  "id": "status",
                  "displayName": "status",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "readOnly": false,
                  "removed": false
                },
                {
                  "id": "subscribed",
                  "displayName": "subscribed",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "boolean",
                  "readOnly": false,
                  "removed": false
                },
                {
                  "id": "levelName",
                  "displayName": "levelName",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "readOnly": false,
                  "removed": false
                },
                {
                  "id": "price",
                  "displayName": "price",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "number",
                  "readOnly": false,
                  "removed": false
                },
                {
                  "id": "payments",
                  "displayName": "payments",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "number",
                  "readOnly": false,
                  "removed": false
                },
                {
                  "id": "onTime",
                  "displayName": "onTime",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "dateTime",
                  "readOnly": false,
                  "removed": false
                }
              ],
              "attemptToConvertTypes": false,
              "convertFieldsToString": false
            },
            "options": {}
          },
          "type": "n8n-nodes-base.dataTable",
          "typeVersion": 1.1,
          "position": [
            864,
            -96
          ],
          "id": "37b9554b-6dfd-4760-9a55-c364d52add58",
          "name": "Upsert row(s)"
        },
        {
          "parameters": {
            "workflowId": {
              "__rl": true,
              "value": "0GNr1mrgOjgfbGgJ",
              "mode": "list",
              "cachedResultUrl": "/workflow/0GNr1mrgOjgfbGgJ",
              "cachedResultName": "Telegram Notification Service"
            },
            "workflowInputs": {
              "mappingMode": "defineBelow",
              "value": {
                "time": "={{ Date.now() }}",
                "message": "Подписчики Boosty обновлены в Data Table",
                "title": "Boosty-уведомление"
              },
              "matchingColumns": [],
              "schema": [
                {
                  "id": "time",
                  "displayName": "time",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "canBeUsedToMatch": true,
                  "type": "number",
                  "removed": false
                },
                {
                  "id": "title",
                  "displayName": "title",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "canBeUsedToMatch": true,
                  "type": "string",
                  "removed": false
                },
                {
                  "id": "message",
                  "displayName": "message",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "canBeUsedToMatch": true,
                  "type": "string",
                  "removed": false
                },
                {
                  "id": "url",
                  "displayName": "url",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "canBeUsedToMatch": true,
                  "type": "string",
                  "removed": true
                }
              ],
              "attemptToConvertTypes": false,
              "convertFieldsToString": true
            },
            "options": {}
          },
          "type": "n8n-nodes-base.executeWorkflow",
          "typeVersion": 1.3,
          "position": [
            1296,
            -96
          ],
          "id": "efaeb4b0-922d-432c-b0ae-0f2750065625",
          "name": "Call 'Telegram Notification Service'"
        },
        {
          "parameters": {
            "aggregate": "aggregateAllItemData",
            "options": {}
          },
          "type": "n8n-nodes-base.aggregate",
          "typeVersion": 1,
          "position": [
            1072,
            -96
          ],
          "id": "3657b5a9-c76b-4fed-849e-967e478a3e6d",
          "name": "Aggregate",
          "alwaysOutputData": false
        }
      ],
      "connections": {
        "HTTP Request": {
          "main": [
            [
              {
                "node": "Split Out",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Split Out": {
          "main": [
            [
              {
                "node": "Upsert row(s)",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Schedule Trigger": {
          "main": [
            [
              {
                "node": "HTTP Request",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Upsert row(s)": {
          "main": [
            [
              {
                "node": "Aggregate",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Aggregate": {
          "main": [
            [
              {
                "node": "Call 'Telegram Notification Service'",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "settings": {
        "executionOrder": "v1",
        "availableInMCP": false
      },
      "staticData": {
        "node:Schedule Trigger": {
          "recurrenceRules": []
        }
      },
      "meta": {
        "templateCredsSetupCompleted": true
      },
      "pinData": {},
      "versionId": "961068c8-9685-4e6f-9cb2-360dd852a2ba",
      "activeVersionId": "961068c8-9685-4e6f-9cb2-360dd852a2ba",
      "versionCounter": 15,
      "triggerCount": 1,
      "shared": [
        {
          "updatedAt": "2026-02-20T06:41:56.602Z",
          "createdAt": "2026-02-20T06:41:56.602Z",
          "role": "workflow:owner",
          "workflowId": "B2QRqtVwapqY1zsf",
          "projectId": "XeBXiP5yJsi5DYCS",
          "project": {
            "updatedAt": "2026-02-20T06:29:28.274Z",
            "createdAt": "2026-02-20T06:29:02.050Z",
            "id": "XeBXiP5yJsi5DYCS",
            "name": "Admin Admin <konstantinkulebaev@gmail.com>",
            "type": "personal",
            "icon": null,
            "description": null,
            "creatorId": "ebcf2b09-cd83-42f3-b5e0-89c4fcaad4a1",
            "projectRelations": [
              {
                "updatedAt": "2026-02-20T06:29:02.050Z",
                "createdAt": "2026-02-20T06:29:02.050Z",
                "userId": "ebcf2b09-cd83-42f3-b5e0-89c4fcaad4a1",
                "projectId": "XeBXiP5yJsi5DYCS",
                "user": {
                  "updatedAt": "2026-02-20T07:00:31.077Z",
                  "createdAt": "2026-02-20T06:29:01.427Z",
                  "id": "ebcf2b09-cd83-42f3-b5e0-89c4fcaad4a1",
                  "email": "konstantinkulebaev@gmail.com",
                  "firstName": "Admin",
                  "lastName": "Admin",
                  "personalizationAnswers": null,
                  "settings": {
                    "userActivated": true,
                    "firstSuccessfulWorkflowId": "B2QRqtVwapqY1zsf",
                    "userActivatedAt": 1771570828063
                  },
                  "disabled": false,
                  "mfaEnabled": false,
                  "lastActiveAt": "2026-02-20",
                  "isPending": false
                }
              }
            ]
          }
        }
      ],
      "tags": [],
      "activeVersion": {
        "updatedAt": "2026-02-20T10:29:20.284Z",
        "createdAt": "2026-02-20T10:29:17.095Z",
        "versionId": "961068c8-9685-4e6f-9cb2-360dd852a2ba",
        "workflowId": "B2QRqtVwapqY1zsf",
        "nodes": [
          {
            "parameters": {
              "url": "https://api.boosty.to/v1/blog/kulebaevadaria/subscribers",
              "authentication": "genericCredentialType",
              "genericAuthType": "httpBearerAuth",
              "sendQuery": true,
              "queryParameters": {
                "parameters": [
                  {
                    "name": "sort_by",
                    "value": "on_time"
                  },
                  {
                    "name": "limit",
                    "value": "200"
                  },
                  {
                    "name": "order",
                    "value": "lt"
                  }
                ]
              },
              "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
              416,
              -96
            ],
            "id": "86aee0c5-08b1-4c96-bf25-4e8acb76e53b",
            "name": "HTTP Request",
            "credentials": {
              "httpBearerAuth": {
                "id": "kAG7U4K6lerXOxcl",
                "name": "Bearer Auth account | Boosty"
              }
            }
          },
          {
            "parameters": {
              "fieldToSplitOut": "data",
              "options": {}
            },
            "type": "n8n-nodes-base.splitOut",
            "typeVersion": 1,
            "position": [
              640,
              -96
            ],
            "id": "205f56b7-926c-49ec-a9d0-64df6d6a8410",
            "name": "Split Out"
          },
          {
            "parameters": {
              "rule": {
                "interval": [
                  {
                    "triggerAtHour": 10
                  }
                ]
              }
            },
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.3,
            "position": [
              192,
              -96
            ],
            "id": "0c334e6d-0236-4515-8727-59c4ef46f6eb",
            "name": "Schedule Trigger"
          },
          {
            "parameters": {
              "operation": "upsert",
              "dataTableId": {
                "__rl": true,
                "value": "25QXaM48qGmKjxHa",
                "mode": "list",
                "cachedResultName": "Boosty subs",
                "cachedResultUrl": "/projects/XeBXiP5yJsi5DYCS/datatables/25QXaM48qGmKjxHa"
              },
              "filters": {
                "conditions": [
                  {
                    "keyName": "userId",
                    "keyValue": "={{ $json.id }}"
                  }
                ]
              },
              "columns": {
                "mappingMode": "defineBelow",
                "value": {
                  "subscribed": "={{ $json.subscribed }}",
                  "price": "={{ $json.level.price }}",
                  "payments": "={{ $json.payments }}",
                  "userId": "={{ $json.id }}",
                  "name": "={{ $json.name }}",
                  "email": "={{ $json.email }}",
                  "status": "={{ $json.status }}",
                  "levelName": "={{ $json.level.name }}",
                  "onTime": "={{ DateTime.fromSeconds($json.onTime) }}"
                },
                "matchingColumns": [],
                "schema": [
                  {
                    "id": "userId",
                    "displayName": "userId",
                    "required": false,
                    "defaultMatch": false,
                    "display": true,
                    "type": "string",
                    "readOnly": false,
                    "removed": false
                  },
                  {
                    "id": "name",
                    "displayName": "name",
                    "required": false,
                    "defaultMatch": false,
                    "display": true,
                    "type": "string",
                    "readOnly": false,
                    "removed": false
                  },
                  {
                    "id": "email",
                    "displayName": "email",
                    "required": false,
                    "defaultMatch": false,
                    "display": true,
                    "type": "string",
                    "readOnly": false,
                    "removed": false
                  },
                  {
                    "id": "status",
                    "displayName": "status",
                    "required": false,
                    "defaultMatch": false,
                    "display": true,
                    "type": "string",
                    "readOnly": false,
                    "removed": false
                  },
                  {
                    "id": "subscribed",
                    "displayName": "subscribed",
                    "required": false,
                    "defaultMatch": false,
                    "display": true,
                    "type": "boolean",
                    "readOnly": false,
                    "removed": false
                  },
                  {
                    "id": "levelName",
                    "displayName": "levelName",
                    "required": false,
                    "defaultMatch": false,
                    "display": true,
                    "type": "string",
                    "readOnly": false,
                    "removed": false
                  },
                  {
                    "id": "price",
                    "displayName": "price",
                    "required": false,
                    "defaultMatch": false,
                    "display": true,
                    "type": "number",
                    "readOnly": false,
                    "removed": false
                  },
                  {
                    "id": "payments",
                    "displayName": "payments",
                    "required": false,
                    "defaultMatch": false,
                    "display": true,
                    "type": "number",
                    "readOnly": false,
                    "removed": false
                  },
                  {
                    "id": "onTime",
                    "displayName": "onTime",
                    "required": false,
                    "defaultMatch": false,
                    "display": true,
                    "type": "dateTime",
                    "readOnly": false,
                    "removed": false
                  }
                ],
                "attemptToConvertTypes": false,
                "convertFieldsToString": false
              },
              "options": {}
            },
            "type": "n8n-nodes-base.dataTable",
            "typeVersion": 1.1,
            "position": [
              864,
              -96
            ],
            "id": "37b9554b-6dfd-4760-9a55-c364d52add58",
            "name": "Upsert row(s)"
          },
          {
            "parameters": {
              "workflowId": {
                "__rl": true,
                "value": "0GNr1mrgOjgfbGgJ",
                "mode": "list",
                "cachedResultUrl": "/workflow/0GNr1mrgOjgfbGgJ",
                "cachedResultName": "Telegram Notification Service"
              },
              "workflowInputs": {
                "mappingMode": "defineBelow",
                "value": {
                  "time": "={{ Date.now() }}",
                  "message": "Подписчики Boosty обновлены в Data Table",
                  "title": "Boosty-уведомление"
                },
                "matchingColumns": [],
                "schema": [
                  {
                    "id": "time",
                    "displayName": "time",
                    "required": false,
                    "defaultMatch": false,
                    "display": true,
                    "canBeUsedToMatch": true,
                    "type": "number",
                    "removed": false
                  },
                  {
                    "id": "title",
                    "displayName": "title",
                    "required": false,
                    "defaultMatch": false,
                    "display": true,
                    "canBeUsedToMatch": true,
                    "type": "string",
                    "removed": false
                  },
                  {
                    "id": "message",
                    "displayName": "message",
                    "required": false,
                    "defaultMatch": false,
                    "display": true,
                    "canBeUsedToMatch": true,
                    "type": "string",
                    "removed": false
                  },
                  {
                    "id": "url",
                    "displayName": "url",
                    "required": false,
                    "defaultMatch": false,
                    "display": true,
                    "canBeUsedToMatch": true,
                    "type": "string",
                    "removed": true
                  }
                ],
                "attemptToConvertTypes": false,
                "convertFieldsToString": true
              },
              "options": {}
            },
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1.3,
            "position": [
              1296,
              -96
            ],
            "id": "efaeb4b0-922d-432c-b0ae-0f2750065625",
            "name": "Call 'Telegram Notification Service'"
          },
          {
            "parameters": {
              "aggregate": "aggregateAllItemData",
              "options": {}
            },
            "type": "n8n-nodes-base.aggregate",
            "typeVersion": 1,
            "position": [
              1072,
              -96
            ],
            "id": "3657b5a9-c76b-4fed-849e-967e478a3e6d",
            "name": "Aggregate",
            "alwaysOutputData": false
          }
        ],
        "connections": {
          "HTTP Request": {
            "main": [
              [
                {
                  "node": "Split Out",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Split Out": {
            "main": [
              [
                {
                  "node": "Upsert row(s)",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Schedule Trigger": {
            "main": [
              [
                {
                  "node": "HTTP Request",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Upsert row(s)": {
            "main": [
              [
                {
                  "node": "Aggregate",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Aggregate": {
            "main": [
              [
                {
                  "node": "Call 'Telegram Notification Service'",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          }
        },
        "authors": "Admin Admin",
        "name": "Version 961068c8",
        "description": "",
        "autosaved": false,
        "workflowPublishHistory": [
          {
            "createdAt": "2026-02-20T10:29:20.283Z",
            "id": 7,
            "workflowId": "B2QRqtVwapqY1zsf",
            "versionId": "961068c8-9685-4e6f-9cb2-360dd852a2ba",
            "event": "activated",
            "userId": "ebcf2b09-cd83-42f3-b5e0-89c4fcaad4a1"
          }
        ]
      }
    },
    {
      "updatedAt": "2026-02-20T06:45:52.117Z",
      "createdAt": "2026-02-20T06:45:52.117Z",
      "id": "GPXze5JSTjQaEneF",
      "name": "TODO Bot",
      "description": null,
      "active": false,
      "isArchived": false,
      "nodes": [
        {
          "parameters": {
            "updates": [
              "message"
            ],
            "additionalFields": {}
          },
          "type": "n8n-nodes-base.telegramTrigger",
          "typeVersion": 1.2,
          "position": [
            -48,
            -96
          ],
          "id": "248f6f85-59d5-448c-8844-5f9e1f66610a",
          "name": "Telegram Trigger",
          "webhookId": "fac86bed-033b-496f-90fd-e958b1fe25dc",
          "credentials": {
            "telegramApi": {
              "id": "XK5NskS0e8AqdwHx",
              "name": "Telegram account | Todo Bot"
            }
          }
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 3
              },
              "conditions": [
                {
                  "id": "aa2c409a-1f20-47b3-be61-7756da741daa",
                  "leftValue": "={{ $json.message.text }}",
                  "rightValue": "/new",
                  "operator": {
                    "type": "string",
                    "operation": "equals"
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            160,
            -96
          ],
          "id": "46eb7a2b-bab5-4988-aa97-836177cb7c72",
          "name": "If"
        },
        {
          "parameters": {
            "chatId": "={{ $json.message.chat.id }}",
            "text": "📝 Новая задача  Напишите текст задачи, которую нужно добавить",
            "additionalFields": {
              "appendAttribution": false
            }
          },
          "type": "n8n-nodes-base.telegram",
          "typeVersion": 1.2,
          "position": [
            368,
            -192
          ],
          "id": "5985aacb-f6b3-4997-b873-5de73f5abd09",
          "name": "Send a text message",
          "webhookId": "af8971e9-1bb6-47e1-b34a-de9cd6c568cd",
          "credentials": {
            "telegramApi": {
              "id": "XK5NskS0e8AqdwHx",
              "name": "Telegram account | Todo Bot"
            }
          }
        }
      ],
      "connections": {
        "Telegram Trigger": {
          "main": [
            [
              {
                "node": "If",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "If": {
          "main": [
            [
              {
                "node": "Send a text message",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "settings": {
        "executionOrder": "v1",
        "availableInMCP": false
      },
      "staticData": null,
      "meta": {
        "templateCredsSetupCompleted": true
      },
      "pinData": {},
      "versionId": "67487bc7-8463-4a41-af85-884874d4f3f0",
      "activeVersionId": null,
      "versionCounter": 1,
      "triggerCount": 0,
      "shared": [
        {
          "updatedAt": "2026-02-20T06:45:52.117Z",
          "createdAt": "2026-02-20T06:45:52.117Z",
          "role": "workflow:owner",
          "workflowId": "GPXze5JSTjQaEneF",
          "projectId": "XeBXiP5yJsi5DYCS",
          "project": {
            "updatedAt": "2026-02-20T06:29:28.274Z",
            "createdAt": "2026-02-20T06:29:02.050Z",
            "id": "XeBXiP5yJsi5DYCS",
            "name": "Admin Admin <konstantinkulebaev@gmail.com>",
            "type": "personal",
            "icon": null,
            "description": null,
            "creatorId": "ebcf2b09-cd83-42f3-b5e0-89c4fcaad4a1",
            "projectRelations": [
              {
                "updatedAt": "2026-02-20T06:29:02.050Z",
                "createdAt": "2026-02-20T06:29:02.050Z",
                "userId": "ebcf2b09-cd83-42f3-b5e0-89c4fcaad4a1",
                "projectId": "XeBXiP5yJsi5DYCS",
                "user": {
                  "updatedAt": "2026-02-20T07:00:31.077Z",
                  "createdAt": "2026-02-20T06:29:01.427Z",
                  "id": "ebcf2b09-cd83-42f3-b5e0-89c4fcaad4a1",
                  "email": "konstantinkulebaev@gmail.com",
                  "firstName": "Admin",
                  "lastName": "Admin",
                  "personalizationAnswers": null,
                  "settings": {
                    "userActivated": true,
                    "firstSuccessfulWorkflowId": "B2QRqtVwapqY1zsf",
                    "userActivatedAt": 1771570828063
                  },
                  "disabled": false,
                  "mfaEnabled": false,
                  "lastActiveAt": "2026-02-20",
                  "isPending": false
                }
              }
            ]
          }
        }
      ],
      "tags": [],
      "activeVersion": null
    },
    {
      "updatedAt": "2026-02-20T10:34:25.059Z",
      "createdAt": "2026-02-20T07:05:56.323Z",
      "id": "HMQXTRLUvppIxeMz",
      "name": "Backup workspaces for n8n",
      "description": null,
      "active": true,
      "isArchived": false,
      "nodes": [
        {
          "parameters": {
            "githubRepo": "kkulebaev/n8n"
          },
          "type": "n8n-nodes-backup.n8nBackup",
          "typeVersion": 1,
          "position": [
            208,
            0
          ],
          "id": "45db2f29-f2d4-439f-a707-b9a9e69f6f43",
          "name": "n8n Backup",
          "credentials": {
            "n8nApi": {
              "id": "UDzormeWy1XJYM2Y",
              "name": "n8n account | konstantinkulebaev"
            },
            "githubApi": {
              "id": "7TATfXVfgddCWOgw",
              "name": "GitHub account | kkulebaev"
            }
          }
        },
        {
          "parameters": {
            "rule": {
              "interval": [
                {
                  "triggerAtHour": 10
                }
              ]
            }
          },
          "type": "n8n-nodes-base.scheduleTrigger",
          "typeVersion": 1.3,
          "position": [
            0,
            0
          ],
          "id": "3fa63890-3cb1-4da9-874e-43a14a92355f",
          "name": "Schedule Trigger"
        }
      ],
      "connections": {
        "Schedule Trigger": {
          "main": [
            [
              {
                "node": "n8n Backup",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "settings": {
        "executionOrder": "v1",
        "availableInMCP": false
      },
      "staticData": {
        "node:Schedule Trigger": {
          "recurrenceRules": []
        }
      },
      "meta": {
        "templateCredsSetupCompleted": true
      },
      "pinData": {},
      "versionId": "d81bba1c-06d7-4c8a-b55f-fcbe95b1333e",
      "activeVersionId": "d81bba1c-06d7-4c8a-b55f-fcbe95b1333e",
      "versionCounter": 10,
      "triggerCount": 1,
      "shared": [
        {
          "updatedAt": "2026-02-20T07:05:56.323Z",
          "createdAt": "2026-02-20T07:05:56.323Z",
          "role": "workflow:owner",
          "workflowId": "HMQXTRLUvppIxeMz",
          "projectId": "XeBXiP5yJsi5DYCS",
          "project": {
            "updatedAt": "2026-02-20T06:29:28.274Z",
            "createdAt": "2026-02-20T06:29:02.050Z",
            "id": "XeBXiP5yJsi5DYCS",
            "name": "Admin Admin <konstantinkulebaev@gmail.com>",
            "type": "personal",
            "icon": null,
            "description": null,
            "creatorId": "ebcf2b09-cd83-42f3-b5e0-89c4fcaad4a1",
            "projectRelations": [
              {
                "updatedAt": "2026-02-20T06:29:02.050Z",
                "createdAt": "2026-02-20T06:29:02.050Z",
                "userId": "ebcf2b09-cd83-42f3-b5e0-89c4fcaad4a1",
                "projectId": "XeBXiP5yJsi5DYCS",
                "user": {
                  "updatedAt": "2026-02-20T07:00:31.077Z",
                  "createdAt": "2026-02-20T06:29:01.427Z",
                  "id": "ebcf2b09-cd83-42f3-b5e0-89c4fcaad4a1",
                  "email": "konstantinkulebaev@gmail.com",
                  "firstName": "Admin",
                  "lastName": "Admin",
                  "personalizationAnswers": null,
                  "settings": {
                    "userActivated": true,
                    "firstSuccessfulWorkflowId": "B2QRqtVwapqY1zsf",
                    "userActivatedAt": 1771570828063
                  },
                  "disabled": false,
                  "mfaEnabled": false,
                  "lastActiveAt": "2026-02-20",
                  "isPending": false
                }
              }
            ]
          }
        }
      ],
      "tags": [],
      "activeVersion": {
        "updatedAt": "2026-02-20T07:29:48.420Z",
        "createdAt": "2026-02-20T07:29:19.593Z",
        "versionId": "d81bba1c-06d7-4c8a-b55f-fcbe95b1333e",
        "workflowId": "HMQXTRLUvppIxeMz",
        "nodes": [
          {
            "parameters": {
              "githubRepo": "kkulebaev/n8n"
            },
            "type": "n8n-nodes-backup.n8nBackup",
            "typeVersion": 1,
            "position": [
              208,
              0
            ],
            "id": "45db2f29-f2d4-439f-a707-b9a9e69f6f43",
            "name": "n8n Backup",
            "credentials": {
              "n8nApi": {
                "id": "UDzormeWy1XJYM2Y",
                "name": "n8n account | konstantinkulebaev"
              },
              "githubApi": {
                "id": "7TATfXVfgddCWOgw",
                "name": "GitHub account | kkulebaev"
              }
            }
          },
          {
            "parameters": {
              "rule": {
                "interval": [
                  {
                    "triggerAtHour": 10
                  }
                ]
              }
            },
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.3,
            "position": [
              0,
              0
            ],
            "id": "3fa63890-3cb1-4da9-874e-43a14a92355f",
            "name": "Schedule Trigger"
          }
        ],
        "connections": {
          "Schedule Trigger": {
            "main": [
              [
                {
                  "node": "n8n Backup",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          }
        },
        "authors": "Admin Admin",
        "name": "Version d81bba1c",
        "description": "",
        "autosaved": false,
        "workflowPublishHistory": [
          {
            "createdAt": "2026-02-20T07:29:48.418Z",
            "id": 3,
            "workflowId": "HMQXTRLUvppIxeMz",
            "versionId": "d81bba1c-06d7-4c8a-b55f-fcbe95b1333e",
            "event": "activated",
            "userId": "ebcf2b09-cd83-42f3-b5e0-89c4fcaad4a1"
          }
        ]
      }
    },
    {
      "updatedAt": "2026-02-20T10:32:58.576Z",
      "createdAt": "2026-02-20T09:22:53.843Z",
      "id": "0GNr1mrgOjgfbGgJ",
      "name": "Telegram Notification Service",
      "description": null,
      "active": true,
      "isArchived": false,
      "nodes": [
        {
          "parameters": {
            "workflowInputs": {
              "values": [
                {
                  "name": "time",
                  "type": "number"
                },
                {
                  "name": "title"
                },
                {
                  "name": "message"
                },
                {
                  "name": "url"
                }
              ]
            }
          },
          "type": "n8n-nodes-base.executeWorkflowTrigger",
          "typeVersion": 1.1,
          "position": [
            0,
            0
          ],
          "id": "bbe59e2e-bab3-4d89-a046-107438334030",
          "name": "When Executed by Another Workflow",
          "alwaysOutputData": false
        },
        {
          "parameters": {
            "chatId": "8593464393",
            "text": "=🔔 *{{ $json.title }}*\n_{{ DateTime.fromMillis($json.time).setLocale('ru').toLocaleString({ month: 'long', day: 'numeric', hour: 'numeric', minute: '2-digit' }) }}_\n\n{{ $json.message }}\n\n{{ $json.url }}",
            "additionalFields": {
              "appendAttribution": false
            }
          },
          "type": "n8n-nodes-base.telegram",
          "typeVersion": 1.2,
          "position": [
            224,
            0
          ],
          "id": "99ce2ff9-2cd0-4d2e-b854-834a613594d2",
          "name": "Send a text message",
          "webhookId": "2272f267-4423-4a50-9a57-885a1197c49d",
          "credentials": {
            "telegramApi": {
              "id": "31G0PoTb4LqbBRW5",
              "name": "Telegram account | Notification Bot"
            }
          }
        }
      ],
      "connections": {
        "When Executed by Another Workflow": {
          "main": [
            [
              {
                "node": "Send a text message",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "settings": {
        "executionOrder": "v1",
        "availableInMCP": false
      },
      "staticData": null,
      "meta": {
        "templateCredsSetupCompleted": true
      },
      "pinData": {},
      "versionId": "789e3186-9133-483d-84e9-3d9443a3f95d",
      "activeVersionId": "789e3186-9133-483d-84e9-3d9443a3f95d",
      "versionCounter": 5,
      "triggerCount": 0,
      "shared": [
        {
          "updatedAt": "2026-02-20T09:22:53.843Z",
          "createdAt": "2026-02-20T09:22:53.843Z",
          "role": "workflow:owner",
          "workflowId": "0GNr1mrgOjgfbGgJ",
          "projectId": "XeBXiP5yJsi5DYCS",
          "project": {
            "updatedAt": "2026-02-20T06:29:28.274Z",
            "createdAt": "2026-02-20T06:29:02.050Z",
            "id": "XeBXiP5yJsi5DYCS",
            "name": "Admin Admin <konstantinkulebaev@gmail.com>",
            "type": "personal",
            "icon": null,
            "description": null,
            "creatorId": "ebcf2b09-cd83-42f3-b5e0-89c4fcaad4a1",
            "projectRelations": [
              {
                "updatedAt": "2026-02-20T06:29:02.050Z",
                "createdAt": "2026-02-20T06:29:02.050Z",
                "userId": "ebcf2b09-cd83-42f3-b5e0-89c4fcaad4a1",
                "projectId": "XeBXiP5yJsi5DYCS",
                "user": {
                  "updatedAt": "2026-02-20T07:00:31.077Z",
                  "createdAt": "2026-02-20T06:29:01.427Z",
                  "id": "ebcf2b09-cd83-42f3-b5e0-89c4fcaad4a1",
                  "email": "konstantinkulebaev@gmail.com",
                  "firstName": "Admin",
                  "lastName": "Admin",
                  "personalizationAnswers": null,
                  "settings": {
                    "userActivated": true,
                    "firstSuccessfulWorkflowId": "B2QRqtVwapqY1zsf",
                    "userActivatedAt": 1771570828063
                  },
                  "disabled": false,
                  "mfaEnabled": false,
                  "lastActiveAt": "2026-02-20",
                  "isPending": false
                }
              }
            ]
          }
        }
      ],
      "tags": [],
      "activeVersion": {
        "updatedAt": "2026-02-20T10:06:53.233Z",
        "createdAt": "2026-02-20T10:06:47.882Z",
        "versionId": "789e3186-9133-483d-84e9-3d9443a3f95d",
        "workflowId": "0GNr1mrgOjgfbGgJ",
        "nodes": [
          {
            "parameters": {
              "workflowInputs": {
                "values": [
                  {
                    "name": "time",
                    "type": "number"
                  },
                  {
                    "name": "title"
                  },
                  {
                    "name": "message"
                  },
                  {
                    "name": "url"
                  }
                ]
              }
            },
            "type": "n8n-nodes-base.executeWorkflowTrigger",
            "typeVersion": 1.1,
            "position": [
              0,
              0
            ],
            "id": "bbe59e2e-bab3-4d89-a046-107438334030",
            "name": "When Executed by Another Workflow",
            "alwaysOutputData": false
          },
          {
            "parameters": {
              "chatId": "8593464393",
              "text": "=🔔 *{{ $json.title }}*\n_{{ DateTime.fromMillis($json.time).setLocale('ru').toLocaleString({ month: 'long', day: 'numeric', hour: 'numeric', minute: '2-digit' }) }}_\n\n{{ $json.message }}\n\n{{ $json.url }}",
              "additionalFields": {
                "appendAttribution": false
              }
            },
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
              224,
              0
            ],
            "id": "99ce2ff9-2cd0-4d2e-b854-834a613594d2",
            "name": "Send a text message",
            "webhookId": "2272f267-4423-4a50-9a57-885a1197c49d",
            "credentials": {
              "telegramApi": {
                "id": "31G0PoTb4LqbBRW5",
                "name": "Telegram account | Notification Bot"
              }
            }
          }
        ],
        "connections": {
          "When Executed by Another Workflow": {
            "main": [
              [
                {
                  "node": "Send a text message",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          }
        },
        "authors": "Admin Admin",
        "name": "Version 789e3186",
        "description": "",
        "autosaved": false,
        "workflowPublishHistory": [
          {
            "createdAt": "2026-02-20T10:06:53.230Z",
            "id": 5,
            "workflowId": "0GNr1mrgOjgfbGgJ",
            "versionId": "789e3186-9133-483d-84e9-3d9443a3f95d",
            "event": "activated",
            "userId": "ebcf2b09-cd83-42f3-b5e0-89c4fcaad4a1"
          }
        ]
      }
    }
  ],
  "credentials_summary": [
    {
      "id": "kAG7U4K6lerXOxcl",
      "name": "Bearer Auth account | Boosty",
      "type": "httpBearerAuth",
      "used_in_workflows": [
        "B2QRqtVwapqY1zsf"
      ],
      "used_in_nodes": [
        "HTTP Request (n8n-nodes-base.httpRequest)"
      ]
    },
    {
      "id": "XK5NskS0e8AqdwHx",
      "name": "Telegram account | Todo Bot",
      "type": "telegramApi",
      "used_in_workflows": [
        "GPXze5JSTjQaEneF"
      ],
      "used_in_nodes": [
        "Telegram Trigger (n8n-nodes-base.telegramTrigger)",
        "Send a text message (n8n-nodes-base.telegram)"
      ]
    },
    {
      "id": "UDzormeWy1XJYM2Y",
      "name": "n8n account | konstantinkulebaev",
      "type": "n8nApi",
      "used_in_workflows": [
        "HMQXTRLUvppIxeMz"
      ],
      "used_in_nodes": [
        "n8n Backup (n8n-nodes-backup.n8nBackup)"
      ]
    },
    {
      "id": "7TATfXVfgddCWOgw",
      "name": "GitHub account | kkulebaev",
      "type": "githubApi",
      "used_in_workflows": [
        "HMQXTRLUvppIxeMz"
      ],
      "used_in_nodes": [
        "n8n Backup (n8n-nodes-backup.n8nBackup)"
      ]
    },
    {
      "id": "31G0PoTb4LqbBRW5",
      "name": "Telegram account | Notification Bot",
      "type": "telegramApi",
      "used_in_workflows": [
        "0GNr1mrgOjgfbGgJ"
      ],
      "used_in_nodes": [
        "Send a text message (n8n-nodes-base.telegram)"
      ]
    }
  ]
}