backups/n8n-backup-2026-02-20.json
{
  "version": "1.0.6",
  "timestamp": "2026-02-20T07:23:44.353Z",
  "workflowCount": 4,
  "credentialsCount": 6,
  "credentialsError": null,
  "credentialsInfo": "Successfully extracted 6 credentials from workflows",
  "workflows": [
    {
      "updatedAt": "2026-02-20T06:35:11.597Z",
      "createdAt": "2026-02-20T06:35:11.597Z",
      "id": "o5LFZ44iJ8wt9VcX",
      "name": "Notification from VK to Telegram",
      "description": null,
      "active": true,
      "isArchived": false,
      "nodes": [
        {
          "parameters": {
            "httpMethod": "POST",
            "path": "1dc93028-aae8-4c72-8b5c-361ad47fa83a",
            "options": {
              "responseData": "ok"
            }
          },
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 2.1,
          "position": [
            0,
            0
          ],
          "id": "d5c09981-33f4-4a36-9f92-5309468bfbcf",
          "name": "Webhook",
          "webhookId": "1dc93028-aae8-4c72-8b5c-361ad47fa83a"
        },
        {
          "parameters": {
            "chatId": "=8593464393",
            "text": "=📬 *VK Группа · Новое сообщение*\n\n👤 *Отправитель:* `{{ $json.body.object.message.from_id }}`\n🕓 *Время:* {{ DateTime.fromMillis($json.body.object.message.date).setLocale('ru').toLocaleString({ month: 'long', day: 'numeric', hour: 'numeric', minute: '2-digit' }) }}\n\n━━━━━━━━━━━━━━\n{{ $json.body.object.message.text }}\n━━━━━━━━━━━━━━",
            "additionalFields": {
              "appendAttribution": false
            }
          },
          "type": "n8n-nodes-base.telegram",
          "typeVersion": 1.2,
          "position": [
            208,
            0
          ],
          "id": "5f4f93b7-98cb-4c67-9e46-7cab0e3ea14c",
          "name": "Send a text message",
          "webhookId": "7eee7f09-b77f-42e8-bdd7-2c3f71fd3ba5",
          "credentials": {
            "telegramApi": {
              "id": "31G0PoTb4LqbBRW5",
              "name": "Telegram account | Notification Bot"
            }
          }
        }
      ],
      "connections": {
        "Webhook": {
          "main": [
            [
              {
                "node": "Send a text message",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "settings": {
        "executionOrder": "v1",
        "availableInMCP": false
      },
      "staticData": null,
      "meta": {
        "templateCredsSetupCompleted": true
      },
      "pinData": {},
      "versionId": "91f647ea-95a9-4324-9579-6b7cdf5ec493",
      "activeVersionId": "91f647ea-95a9-4324-9579-6b7cdf5ec493",
      "versionCounter": 3,
      "triggerCount": 1,
      "shared": [
        {
          "updatedAt": "2026-02-20T06:35:11.597Z",
          "createdAt": "2026-02-20T06:35:11.597Z",
          "role": "workflow:owner",
          "workflowId": "o5LFZ44iJ8wt9VcX",
          "projectId": "XeBXiP5yJsi5DYCS",
          "project": {
            "updatedAt": "2026-02-20T06:29:28.274Z",
            "createdAt": "2026-02-20T06:29:02.050Z",
            "id": "XeBXiP5yJsi5DYCS",
            "name": "Admin Admin <konstantinkulebaev@gmail.com>",
            "type": "personal",
            "icon": null,
            "description": null,
            "creatorId": "ebcf2b09-cd83-42f3-b5e0-89c4fcaad4a1",
            "projectRelations": [
              {
                "updatedAt": "2026-02-20T06:29:02.050Z",
                "createdAt": "2026-02-20T06:29:02.050Z",
                "userId": "ebcf2b09-cd83-42f3-b5e0-89c4fcaad4a1",
                "projectId": "XeBXiP5yJsi5DYCS",
                "user": {
                  "updatedAt": "2026-02-20T07:00:31.077Z",
                  "createdAt": "2026-02-20T06:29:01.427Z",
                  "id": "ebcf2b09-cd83-42f3-b5e0-89c4fcaad4a1",
                  "email": "konstantinkulebaev@gmail.com",
                  "firstName": "Admin",
                  "lastName": "Admin",
                  "personalizationAnswers": null,
                  "settings": {
                    "userActivated": true,
                    "firstSuccessfulWorkflowId": "B2QRqtVwapqY1zsf",
                    "userActivatedAt": 1771570828063
                  },
                  "disabled": false,
                  "mfaEnabled": false,
                  "lastActiveAt": "2026-02-20",
                  "isPending": false
                }
              }
            ]
          }
        }
      ],
      "tags": [],
      "activeVersion": {
        "updatedAt": "2026-02-20T06:35:18.606Z",
        "createdAt": "2026-02-20T06:35:11.597Z",
        "versionId": "91f647ea-95a9-4324-9579-6b7cdf5ec493",
        "workflowId": "o5LFZ44iJ8wt9VcX",
        "nodes": [
          {
            "parameters": {
              "httpMethod": "POST",
              "path": "1dc93028-aae8-4c72-8b5c-361ad47fa83a",
              "options": {
                "responseData": "ok"
              }
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
              0,
              0
            ],
            "id": "d5c09981-33f4-4a36-9f92-5309468bfbcf",
            "name": "Webhook",
            "webhookId": "1dc93028-aae8-4c72-8b5c-361ad47fa83a"
          },
          {
            "parameters": {
              "chatId": "=8593464393",
              "text": "=📬 *VK Группа · Новое сообщение*\n\n👤 *Отправитель:* `{{ $json.body.object.message.from_id }}`\n🕓 *Время:* {{ DateTime.fromMillis($json.body.object.message.date).setLocale('ru').toLocaleString({ month: 'long', day: 'numeric', hour: 'numeric', minute: '2-digit' }) }}\n\n━━━━━━━━━━━━━━\n{{ $json.body.object.message.text }}\n━━━━━━━━━━━━━━",
              "additionalFields": {
                "appendAttribution": false
              }
            },
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
              208,
              0
            ],
            "id": "5f4f93b7-98cb-4c67-9e46-7cab0e3ea14c",
            "name": "Send a text message",
            "webhookId": "7eee7f09-b77f-42e8-bdd7-2c3f71fd3ba5",
            "credentials": {
              "telegramApi": {
                "id": "31G0PoTb4LqbBRW5",
                "name": "Telegram account | Notification Bot"
              }
            }
          }
        ],
        "connections": {
          "Webhook": {
            "main": [
              [
                {
                  "node": "Send a text message",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          }
        },
        "authors": "Admin Admin",
        "name": "Version 91f647ea",
        "description": "",
        "autosaved": false,
        "workflowPublishHistory": [
          {
            "createdAt": "2026-02-20T06:35:18.604Z",
            "id": 1,
            "workflowId": "o5LFZ44iJ8wt9VcX",
            "versionId": "91f647ea-95a9-4324-9579-6b7cdf5ec493",
            "event": "activated",
            "userId": "ebcf2b09-cd83-42f3-b5e0-89c4fcaad4a1"
          }
        ]
      }
    },
    {
      "updatedAt": "2026-02-20T06:41:56.602Z",
      "createdAt": "2026-02-20T06:41:56.602Z",
      "id": "B2QRqtVwapqY1zsf",
      "name": "Boosty subs to Google Sheets",
      "description": null,
      "active": true,
      "isArchived": false,
      "nodes": [
        {
          "parameters": {
            "url": "https://api.boosty.to/v1/blog/kulebaevadaria/subscribers",
            "authentication": "genericCredentialType",
            "genericAuthType": "httpBearerAuth",
            "sendQuery": true,
            "queryParameters": {
              "parameters": [
                {
                  "name": "sort_by",
                  "value": "on_time"
                },
                {
                  "name": "limit",
                  "value": "200"
                },
                {
                  "name": "order",
                  "value": "lt"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.3,
          "position": [
            400,
            -96
          ],
          "id": "86aee0c5-08b1-4c96-bf25-4e8acb76e53b",
          "name": "HTTP Request",
          "credentials": {
            "httpBearerAuth": {
              "id": "kAG7U4K6lerXOxcl",
              "name": "Bearer Auth account | Boosty"
            }
          }
        },
        {
          "parameters": {
            "fieldToSplitOut": "data",
            "options": {}
          },
          "type": "n8n-nodes-base.splitOut",
          "typeVersion": 1,
          "position": [
            608,
            -96
          ],
          "id": "205f56b7-926c-49ec-a9d0-64df6d6a8410",
          "name": "Split Out"
        },
        {
          "parameters": {
            "operation": "appendOrUpdate",
            "documentId": {
              "__rl": true,
              "value": "1Gc5uUKoYkTBOITi7gojfiCqomyWpHb9GHX4fr1BZzgI",
              "mode": "list",
              "cachedResultName": "Ведение Бизнеса",
              "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Gc5uUKoYkTBOITi7gojfiCqomyWpHb9GHX4fr1BZzgI/edit?usp=drivesdk"
            },
            "sheetName": {
              "__rl": true,
              "value": 422581622,
              "mode": "list",
              "cachedResultName": "Платные подписчики в Boosty",
              "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Gc5uUKoYkTBOITi7gojfiCqomyWpHb9GHX4fr1BZzgI/edit#gid=422581622"
            },
            "columns": {
              "mappingMode": "defineBelow",
              "value": {
                "id": "={{ $json.id }}",
                "name": "={{ $json.name }}",
                "email": "={{ $json.email }}",
                "status": "={{ $json.status }}",
                "subscribed": "={{ $json.subscribed }}",
                "level_name": "={{ $json.level.name }}",
                "price": "={{ $json.level.price }}",
                "payments": "={{ $json.payments }}",
                "onTime": "={{ DateTime.fromSeconds($json.onTime).format('dd-MM-yyyy HH:mm:ss') }}"
              },
              "matchingColumns": [
                "id"
              ],
              "schema": [
                {
                  "id": "id",
                  "displayName": "id",
                  "required": false,
                  "defaultMatch": true,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true,
                  "removed": false
                },
                {
                  "id": "name",
                  "displayName": "name",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "email",
                  "displayName": "email",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "status",
                  "displayName": "status",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "subscribed",
                  "displayName": "subscribed",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "level_name",
                  "displayName": "level_name",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "price",
                  "displayName": "price",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "payments",
                  "displayName": "payments",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "onTime",
                  "displayName": "onTime",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                }
              ],
              "attemptToConvertTypes": false,
              "convertFieldsToString": false
            },
            "options": {}
          },
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4.7,
          "position": [
            816,
            -96
          ],
          "id": "af061e7b-fc2e-43a5-826c-ee41bd61a182",
          "name": "Append or update row in sheet",
          "credentials": {
            "googleSheetsOAuth2Api": {
              "id": "8vrwGyi32Hp1irKM",
              "name": "Google Sheets account"
            }
          }
        },
        {
          "parameters": {
            "chatId": "8593464393",
            "text": "=✅ Подписчики Boosty обновлены  📊 Google Sheets: данные синхронизированы 🕒 {{ DateTime.now().setLocale('ru').toLocaleString({ month: 'long', day: 'numeric', hour: 'numeric', minute: '2-digit' }) }}",
            "additionalFields": {
              "appendAttribution": false
            }
          },
          "type": "n8n-nodes-base.telegram",
          "typeVersion": 1.2,
          "position": [
            1232,
            -96
          ],
          "id": "5cce43ae-ed02-4053-a86f-28e41554aadb",
          "name": "Send a text message",
          "webhookId": "41150648-a0e6-4a38-ad7a-effba0839589",
          "credentials": {
            "telegramApi": {
              "id": "31G0PoTb4LqbBRW5",
              "name": "Telegram account | Notification Bot"
            }
          }
        },
        {
          "parameters": {
            "keep": "lastItems"
          },
          "type": "n8n-nodes-base.limit",
          "typeVersion": 1,
          "position": [
            1024,
            -96
          ],
          "id": "6118b0af-f590-4530-b7f5-7114d0cd126d",
          "name": "Limit"
        },
        {
          "parameters": {
            "rule": {
              "interval": [
                {
                  "triggerAtHour": 10
                }
              ]
            }
          },
          "type": "n8n-nodes-base.scheduleTrigger",
          "typeVersion": 1.3,
          "position": [
            192,
            -96
          ],
          "id": "0c334e6d-0236-4515-8727-59c4ef46f6eb",
          "name": "Schedule Trigger"
        }
      ],
      "connections": {
        "HTTP Request": {
          "main": [
            [
              {
                "node": "Split Out",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Split Out": {
          "main": [
            [
              {
                "node": "Append or update row in sheet",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Append or update row in sheet": {
          "main": [
            [
              {
                "node": "Limit",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Limit": {
          "main": [
            [
              {
                "node": "Send a text message",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Schedule Trigger": {
          "main": [
            [
              {
                "node": "HTTP Request",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "settings": {
        "executionOrder": "v1",
        "availableInMCP": false
      },
      "staticData": {
        "node:Schedule Trigger": {
          "recurrenceRules": []
        }
      },
      "meta": {
        "templateCredsSetupCompleted": true
      },
      "pinData": {},
      "versionId": "9cbfb71c-db21-471f-98cb-9698fa057e5a",
      "activeVersionId": "9cbfb71c-db21-471f-98cb-9698fa057e5a",
      "versionCounter": 4,
      "triggerCount": 1,
      "shared": [
        {
          "updatedAt": "2026-02-20T06:41:56.602Z",
          "createdAt": "2026-02-20T06:41:56.602Z",
          "role": "workflow:owner",
          "workflowId": "B2QRqtVwapqY1zsf",
          "projectId": "XeBXiP5yJsi5DYCS",
          "project": {
            "updatedAt": "2026-02-20T06:29:28.274Z",
            "createdAt": "2026-02-20T06:29:02.050Z",
            "id": "XeBXiP5yJsi5DYCS",
            "name": "Admin Admin <konstantinkulebaev@gmail.com>",
            "type": "personal",
            "icon": null,
            "description": null,
            "creatorId": "ebcf2b09-cd83-42f3-b5e0-89c4fcaad4a1",
            "projectRelations": [
              {
                "updatedAt": "2026-02-20T06:29:02.050Z",
                "createdAt": "2026-02-20T06:29:02.050Z",
                "userId": "ebcf2b09-cd83-42f3-b5e0-89c4fcaad4a1",
                "projectId": "XeBXiP5yJsi5DYCS",
                "user": {
                  "updatedAt": "2026-02-20T07:00:31.077Z",
                  "createdAt": "2026-02-20T06:29:01.427Z",
                  "id": "ebcf2b09-cd83-42f3-b5e0-89c4fcaad4a1",
                  "email": "konstantinkulebaev@gmail.com",
                  "firstName": "Admin",
                  "lastName": "Admin",
                  "personalizationAnswers": null,
                  "settings": {
                    "userActivated": true,
                    "firstSuccessfulWorkflowId": "B2QRqtVwapqY1zsf",
                    "userActivatedAt": 1771570828063
                  },
                  "disabled": false,
                  "mfaEnabled": false,
                  "lastActiveAt": "2026-02-20",
                  "isPending": false
                }
              }
            ]
          }
        }
      ],
      "tags": [],
      "activeVersion": {
        "updatedAt": "2026-02-20T06:43:19.318Z",
        "createdAt": "2026-02-20T06:41:56.602Z",
        "versionId": "9cbfb71c-db21-471f-98cb-9698fa057e5a",
        "workflowId": "B2QRqtVwapqY1zsf",
        "nodes": [
          {
            "parameters": {
              "url": "https://api.boosty.to/v1/blog/kulebaevadaria/subscribers",
              "authentication": "genericCredentialType",
              "genericAuthType": "httpBearerAuth",
              "sendQuery": true,
              "queryParameters": {
                "parameters": [
                  {
                    "name": "sort_by",
                    "value": "on_time"
                  },
                  {
                    "name": "limit",
                    "value": "200"
                  },
                  {
                    "name": "order",
                    "value": "lt"
                  }
                ]
              },
              "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
              400,
              -96
            ],
            "id": "86aee0c5-08b1-4c96-bf25-4e8acb76e53b",
            "name": "HTTP Request",
            "credentials": {
              "httpBearerAuth": {
                "id": "kAG7U4K6lerXOxcl",
                "name": "Bearer Auth account | Boosty"
              }
            }
          },
          {
            "parameters": {
              "fieldToSplitOut": "data",
              "options": {}
            },
            "type": "n8n-nodes-base.splitOut",
            "typeVersion": 1,
            "position": [
              608,
              -96
            ],
            "id": "205f56b7-926c-49ec-a9d0-64df6d6a8410",
            "name": "Split Out"
          },
          {
            "parameters": {
              "operation": "appendOrUpdate",
              "documentId": {
                "__rl": true,
                "value": "1Gc5uUKoYkTBOITi7gojfiCqomyWpHb9GHX4fr1BZzgI",
                "mode": "list",
                "cachedResultName": "Ведение Бизнеса",
                "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Gc5uUKoYkTBOITi7gojfiCqomyWpHb9GHX4fr1BZzgI/edit?usp=drivesdk"
              },
              "sheetName": {
                "__rl": true,
                "value": 422581622,
                "mode": "list",
                "cachedResultName": "Платные подписчики в Boosty",
                "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Gc5uUKoYkTBOITi7gojfiCqomyWpHb9GHX4fr1BZzgI/edit#gid=422581622"
              },
              "columns": {
                "mappingMode": "defineBelow",
                "value": {
                  "id": "={{ $json.id }}",
                  "name": "={{ $json.name }}",
                  "email": "={{ $json.email }}",
                  "status": "={{ $json.status }}",
                  "subscribed": "={{ $json.subscribed }}",
                  "level_name": "={{ $json.level.name }}",
                  "price": "={{ $json.level.price }}",
                  "payments": "={{ $json.payments }}",
                  "onTime": "={{ DateTime.fromSeconds($json.onTime).format('dd-MM-yyyy HH:mm:ss') }}"
                },
                "matchingColumns": [
                  "id"
                ],
                "schema": [
                  {
                    "id": "id",
                    "displayName": "id",
                    "required": false,
                    "defaultMatch": true,
                    "display": true,
                    "type": "string",
                    "canBeUsedToMatch": true,
                    "removed": false
                  },
                  {
                    "id": "name",
                    "displayName": "name",
                    "required": false,
                    "defaultMatch": false,
                    "display": true,
                    "type": "string",
                    "canBeUsedToMatch": true
                  },
                  {
                    "id": "email",
                    "displayName": "email",
                    "required": false,
                    "defaultMatch": false,
                    "display": true,
                    "type": "string",
                    "canBeUsedToMatch": true
                  },
                  {
                    "id": "status",
                    "displayName": "status",
                    "required": false,
                    "defaultMatch": false,
                    "display": true,
                    "type": "string",
                    "canBeUsedToMatch": true
                  },
                  {
                    "id": "subscribed",
                    "displayName": "subscribed",
                    "required": false,
                    "defaultMatch": false,
                    "display": true,
                    "type": "string",
                    "canBeUsedToMatch": true
                  },
                  {
                    "id": "level_name",
                    "displayName": "level_name",
                    "required": false,
                    "defaultMatch": false,
                    "display": true,
                    "type": "string",
                    "canBeUsedToMatch": true
                  },
                  {
                    "id": "price",
                    "displayName": "price",
                    "required": false,
                    "defaultMatch": false,
                    "display": true,
                    "type": "string",
                    "canBeUsedToMatch": true
                  },
                  {
                    "id": "payments",
                    "displayName": "payments",
                    "required": false,
                    "defaultMatch": false,
                    "display": true,
                    "type": "string",
                    "canBeUsedToMatch": true
                  },
                  {
                    "id": "onTime",
                    "displayName": "onTime",
                    "required": false,
                    "defaultMatch": false,
                    "display": true,
                    "type": "string",
                    "canBeUsedToMatch": true
                  }
                ],
                "attemptToConvertTypes": false,
                "convertFieldsToString": false
              },
              "options": {}
            },
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.7,
            "position": [
              816,
              -96
            ],
            "id": "af061e7b-fc2e-43a5-826c-ee41bd61a182",
            "name": "Append or update row in sheet",
            "credentials": {
              "googleSheetsOAuth2Api": {
                "id": "8vrwGyi32Hp1irKM",
                "name": "Google Sheets account"
              }
            }
          },
          {
            "parameters": {
              "chatId": "8593464393",
              "text": "=✅ Подписчики Boosty обновлены  📊 Google Sheets: данные синхронизированы 🕒 {{ DateTime.now().setLocale('ru').toLocaleString({ month: 'long', day: 'numeric', hour: 'numeric', minute: '2-digit' }) }}",
              "additionalFields": {
                "appendAttribution": false
              }
            },
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
              1232,
              -96
            ],
            "id": "5cce43ae-ed02-4053-a86f-28e41554aadb",
            "name": "Send a text message",
            "webhookId": "41150648-a0e6-4a38-ad7a-effba0839589",
            "credentials": {
              "telegramApi": {
                "id": "31G0PoTb4LqbBRW5",
                "name": "Telegram account | Notification Bot"
              }
            }
          },
          {
            "parameters": {
              "keep": "lastItems"
            },
            "type": "n8n-nodes-base.limit",
            "typeVersion": 1,
            "position": [
              1024,
              -96
            ],
            "id": "6118b0af-f590-4530-b7f5-7114d0cd126d",
            "name": "Limit"
          },
          {
            "parameters": {
              "rule": {
                "interval": [
                  {
                    "triggerAtHour": 10
                  }
                ]
              }
            },
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.3,
            "position": [
              192,
              -96
            ],
            "id": "0c334e6d-0236-4515-8727-59c4ef46f6eb",
            "name": "Schedule Trigger"
          }
        ],
        "connections": {
          "HTTP Request": {
            "main": [
              [
                {
                  "node": "Split Out",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Split Out": {
            "main": [
              [
                {
                  "node": "Append or update row in sheet",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Append or update row in sheet": {
            "main": [
              [
                {
                  "node": "Limit",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Limit": {
            "main": [
              [
                {
                  "node": "Send a text message",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Schedule Trigger": {
            "main": [
              [
                {
                  "node": "HTTP Request",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          }
        },
        "authors": "Admin Admin",
        "name": "Version 9cbfb71c",
        "description": "",
        "autosaved": false,
        "workflowPublishHistory": [
          {
            "createdAt": "2026-02-20T06:43:19.316Z",
            "id": 2,
            "workflowId": "B2QRqtVwapqY1zsf",
            "versionId": "9cbfb71c-db21-471f-98cb-9698fa057e5a",
            "event": "activated",
            "userId": "ebcf2b09-cd83-42f3-b5e0-89c4fcaad4a1"
          }
        ]
      }
    },
    {
      "updatedAt": "2026-02-20T06:45:52.117Z",
      "createdAt": "2026-02-20T06:45:52.117Z",
      "id": "GPXze5JSTjQaEneF",
      "name": "TODO Bot",
      "description": null,
      "active": false,
      "isArchived": false,
      "nodes": [
        {
          "parameters": {
            "updates": [
              "message"
            ],
            "additionalFields": {}
          },
          "type": "n8n-nodes-base.telegramTrigger",
          "typeVersion": 1.2,
          "position": [
            -48,
            -96
          ],
          "id": "248f6f85-59d5-448c-8844-5f9e1f66610a",
          "name": "Telegram Trigger",
          "webhookId": "fac86bed-033b-496f-90fd-e958b1fe25dc",
          "credentials": {
            "telegramApi": {
              "id": "XK5NskS0e8AqdwHx",
              "name": "Telegram account | Todo Bot"
            }
          }
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 3
              },
              "conditions": [
                {
                  "id": "aa2c409a-1f20-47b3-be61-7756da741daa",
                  "leftValue": "={{ $json.message.text }}",
                  "rightValue": "/new",
                  "operator": {
                    "type": "string",
                    "operation": "equals"
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            160,
            -96
          ],
          "id": "46eb7a2b-bab5-4988-aa97-836177cb7c72",
          "name": "If"
        },
        {
          "parameters": {
            "chatId": "={{ $json.message.chat.id }}",
            "text": "📝 Новая задача  Напишите текст задачи, которую нужно добавить",
            "additionalFields": {
              "appendAttribution": false
            }
          },
          "type": "n8n-nodes-base.telegram",
          "typeVersion": 1.2,
          "position": [
            368,
            -192
          ],
          "id": "5985aacb-f6b3-4997-b873-5de73f5abd09",
          "name": "Send a text message",
          "webhookId": "af8971e9-1bb6-47e1-b34a-de9cd6c568cd",
          "credentials": {
            "telegramApi": {
              "id": "XK5NskS0e8AqdwHx",
              "name": "Telegram account | Todo Bot"
            }
          }
        }
      ],
      "connections": {
        "Telegram Trigger": {
          "main": [
            [
              {
                "node": "If",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "If": {
          "main": [
            [
              {
                "node": "Send a text message",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "settings": {
        "executionOrder": "v1",
        "availableInMCP": false
      },
      "staticData": null,
      "meta": {
        "templateCredsSetupCompleted": true
      },
      "pinData": {},
      "versionId": "67487bc7-8463-4a41-af85-884874d4f3f0",
      "activeVersionId": null,
      "versionCounter": 1,
      "triggerCount": 0,
      "shared": [
        {
          "updatedAt": "2026-02-20T06:45:52.117Z",
          "createdAt": "2026-02-20T06:45:52.117Z",
          "role": "workflow:owner",
          "workflowId": "GPXze5JSTjQaEneF",
          "projectId": "XeBXiP5yJsi5DYCS",
          "project": {
            "updatedAt": "2026-02-20T06:29:28.274Z",
            "createdAt": "2026-02-20T06:29:02.050Z",
            "id": "XeBXiP5yJsi5DYCS",
            "name": "Admin Admin <konstantinkulebaev@gmail.com>",
            "type": "personal",
            "icon": null,
            "description": null,
            "creatorId": "ebcf2b09-cd83-42f3-b5e0-89c4fcaad4a1",
            "projectRelations": [
              {
                "updatedAt": "2026-02-20T06:29:02.050Z",
                "createdAt": "2026-02-20T06:29:02.050Z",
                "userId": "ebcf2b09-cd83-42f3-b5e0-89c4fcaad4a1",
                "projectId": "XeBXiP5yJsi5DYCS",
                "user": {
                  "updatedAt": "2026-02-20T07:00:31.077Z",
                  "createdAt": "2026-02-20T06:29:01.427Z",
                  "id": "ebcf2b09-cd83-42f3-b5e0-89c4fcaad4a1",
                  "email": "konstantinkulebaev@gmail.com",
                  "firstName": "Admin",
                  "lastName": "Admin",
                  "personalizationAnswers": null,
                  "settings": {
                    "userActivated": true,
                    "firstSuccessfulWorkflowId": "B2QRqtVwapqY1zsf",
                    "userActivatedAt": 1771570828063
                  },
                  "disabled": false,
                  "mfaEnabled": false,
                  "lastActiveAt": "2026-02-20",
                  "isPending": false
                }
              }
            ]
          }
        }
      ],
      "tags": [],
      "activeVersion": null
    },
    {
      "updatedAt": "2026-02-20T07:07:47.143Z",
      "createdAt": "2026-02-20T07:05:56.323Z",
      "id": "HMQXTRLUvppIxeMz",
      "name": "My workflow",
      "description": null,
      "active": false,
      "isArchived": false,
      "nodes": [
        {
          "parameters": {},
          "type": "n8n-nodes-base.manualTrigger",
          "typeVersion": 1,
          "position": [
            0,
            0
          ],
          "id": "ae53ca9e-6602-486c-b328-3baa77746aac",
          "name": "When clicking ‘Execute workflow’"
        },
        {
          "parameters": {
            "githubRepo": "kkulebaev/n8n"
          },
          "type": "n8n-nodes-backup.n8nBackup",
          "typeVersion": 1,
          "position": [
            208,
            0
          ],
          "id": "45db2f29-f2d4-439f-a707-b9a9e69f6f43",
          "name": "n8n Backup",
          "credentials": {
            "n8nApi": {
              "id": "UDzormeWy1XJYM2Y",
              "name": "n8n account | konstantinkulebaev"
            },
            "githubApi": {
              "id": "7TATfXVfgddCWOgw",
              "name": "GitHub account | kkulebaev"
            }
          }
        }
      ],
      "connections": {
        "When clicking ‘Execute workflow’": {
          "main": [
            [
              {
                "node": "n8n Backup",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "settings": {
        "executionOrder": "v1",
        "availableInMCP": false
      },
      "staticData": null,
      "meta": {
        "templateCredsSetupCompleted": true
      },
      "pinData": {},
      "versionId": "827f1383-b9fa-41bd-8135-4a2f7284bf9a",
      "activeVersionId": null,
      "versionCounter": 2,
      "triggerCount": 0,
      "shared": [
        {
          "updatedAt": "2026-02-20T07:05:56.323Z",
          "createdAt": "2026-02-20T07:05:56.323Z",
          "role": "workflow:owner",
          "workflowId": "HMQXTRLUvppIxeMz",
          "projectId": "XeBXiP5yJsi5DYCS",
          "project": {
            "updatedAt": "2026-02-20T06:29:28.274Z",
            "createdAt": "2026-02-20T06:29:02.050Z",
            "id": "XeBXiP5yJsi5DYCS",
            "name": "Admin Admin <konstantinkulebaev@gmail.com>",
            "type": "personal",
            "icon": null,
            "description": null,
            "creatorId": "ebcf2b09-cd83-42f3-b5e0-89c4fcaad4a1",
            "projectRelations": [
              {
                "updatedAt": "2026-02-20T06:29:02.050Z",
                "createdAt": "2026-02-20T06:29:02.050Z",
                "userId": "ebcf2b09-cd83-42f3-b5e0-89c4fcaad4a1",
                "projectId": "XeBXiP5yJsi5DYCS",
                "user": {
                  "updatedAt": "2026-02-20T07:00:31.077Z",
                  "createdAt": "2026-02-20T06:29:01.427Z",
                  "id": "ebcf2b09-cd83-42f3-b5e0-89c4fcaad4a1",
                  "email": "konstantinkulebaev@gmail.com",
                  "firstName": "Admin",
                  "lastName": "Admin",
                  "personalizationAnswers": null,
                  "settings": {
                    "userActivated": true,
                    "firstSuccessfulWorkflowId": "B2QRqtVwapqY1zsf",
                    "userActivatedAt": 1771570828063
                  },
                  "disabled": false,
                  "mfaEnabled": false,
                  "lastActiveAt": "2026-02-20",
                  "isPending": false
                }
              }
            ]
          }
        }
      ],
      "tags": [],
      "activeVersion": null
    }
  ],
  "credentials_summary": [
    {
      "id": "31G0PoTb4LqbBRW5",
      "name": "Telegram account | Notification Bot",
      "type": "telegramApi",
      "used_in_workflows": [
        "o5LFZ44iJ8wt9VcX",
        "B2QRqtVwapqY1zsf"
      ],
      "used_in_nodes": [
        "Send a text message (n8n-nodes-base.telegram)"
      ]
    },
    {
      "id": "kAG7U4K6lerXOxcl",
      "name": "Bearer Auth account | Boosty",
      "type": "httpBearerAuth",
      "used_in_workflows": [
        "B2QRqtVwapqY1zsf"
      ],
      "used_in_nodes": [
        "HTTP Request (n8n-nodes-base.httpRequest)"
      ]
    },
    {
      "id": "8vrwGyi32Hp1irKM",
      "name": "Google Sheets account",
      "type": "googleSheetsOAuth2Api",
      "used_in_workflows": [
        "B2QRqtVwapqY1zsf"
      ],
      "used_in_nodes": [
        "Append or update row in sheet (n8n-nodes-base.googleSheets)"
      ]
    },
    {
      "id": "XK5NskS0e8AqdwHx",
      "name": "Telegram account | Todo Bot",
      "type": "telegramApi",
      "used_in_workflows": [
        "GPXze5JSTjQaEneF"
      ],
      "used_in_nodes": [
        "Telegram Trigger (n8n-nodes-base.telegramTrigger)",
        "Send a text message (n8n-nodes-base.telegram)"
      ]
    },
    {
      "id": "UDzormeWy1XJYM2Y",
      "name": "n8n account | konstantinkulebaev",
      "type": "n8nApi",
      "used_in_workflows": [
        "HMQXTRLUvppIxeMz"
      ],
      "used_in_nodes": [
        "n8n Backup (n8n-nodes-backup.n8nBackup)"
      ]
    },
    {
      "id": "7TATfXVfgddCWOgw",
      "name": "GitHub account | kkulebaev",
      "type": "githubApi",
      "used_in_workflows": [
        "HMQXTRLUvppIxeMz"
      ],
      "used_in_nodes": [
        "n8n Backup (n8n-nodes-backup.n8nBackup)"
      ]
    }
  ]
}