workflows/Boosty_subs_to_Google_Sheets-B2QRqtVwapqY1zsf.json
{
  "updatedAt": "2026-02-20T06:41:56.602Z",
  "createdAt": "2026-02-20T06:41:56.602Z",
  "id": "B2QRqtVwapqY1zsf",
  "name": "Boosty subs to Google Sheets",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "https://api.boosty.to/v1/blog/kulebaevadaria/subscribers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "sort_by",
              "value": "on_time"
            },
            {
              "name": "limit",
              "value": "200"
            },
            {
              "name": "order",
              "value": "lt"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        400,
        -96
      ],
      "id": "86aee0c5-08b1-4c96-bf25-4e8acb76e53b",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "kAG7U4K6lerXOxcl",
          "name": "Bearer Auth account | Boosty"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        608,
        -96
      ],
      "id": "205f56b7-926c-49ec-a9d0-64df6d6a8410",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Gc5uUKoYkTBOITi7gojfiCqomyWpHb9GHX4fr1BZzgI",
          "mode": "list",
          "cachedResultName": "Ведение Бизнеса",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Gc5uUKoYkTBOITi7gojfiCqomyWpHb9GHX4fr1BZzgI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 422581622,
          "mode": "list",
          "cachedResultName": "Платные подписчики в Boosty",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Gc5uUKoYkTBOITi7gojfiCqomyWpHb9GHX4fr1BZzgI/edit#gid=422581622"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "name": "={{ $json.name }}",
            "email": "={{ $json.email }}",
            "status": "={{ $json.status }}",
            "subscribed": "={{ $json.subscribed }}",
            "level_name": "={{ $json.level.name }}",
            "price": "={{ $json.level.price }}",
            "payments": "={{ $json.payments }}",
            "onTime": "={{ DateTime.fromSeconds($json.onTime).format('dd-MM-yyyy HH:mm:ss') }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subscribed",
              "displayName": "subscribed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "level_name",
              "displayName": "level_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payments",
              "displayName": "payments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "onTime",
              "displayName": "onTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        816,
        -96
      ],
      "id": "af061e7b-fc2e-43a5-826c-ee41bd61a182",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8vrwGyi32Hp1irKM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8593464393",
        "text": "=✅ Подписчики Boosty обновлены  📊 Google Sheets: данные синхронизированы 🕒 {{ DateTime.now().setLocale('ru').toLocaleString({ month: 'long', day: 'numeric', hour: 'numeric', minute: '2-digit' }) }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1232,
        -96
      ],
      "id": "5cce43ae-ed02-4053-a86f-28e41554aadb",
      "name": "Send a text message",
      "webhookId": "41150648-a0e6-4a38-ad7a-effba0839589",
      "credentials": {
        "telegramApi": {
          "id": "31G0PoTb4LqbBRW5",
          "name": "Telegram account | Notification Bot"
        }
      }
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1024,
        -96
      ],
      "id": "6118b0af-f590-4530-b7f5-7114d0cd126d",
      "name": "Limit"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        192,
        -96
      ],
      "id": "0c334e6d-0236-4515-8727-59c4ef46f6eb",
      "name": "Schedule Trigger"
    }
  ],
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "9cbfb71c-db21-471f-98cb-9698fa057e5a",
  "activeVersionId": "9cbfb71c-db21-471f-98cb-9698fa057e5a",
  "versionCounter": 4,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-20T06:41:56.602Z",
      "createdAt": "2026-02-20T06:41:56.602Z",
      "role": "workflow:owner",
      "workflowId": "B2QRqtVwapqY1zsf",
      "projectId": "XeBXiP5yJsi5DYCS",
      "project": {
        "updatedAt": "2026-02-20T06:29:28.274Z",
        "createdAt": "2026-02-20T06:29:02.050Z",
        "id": "XeBXiP5yJsi5DYCS",
        "name": "Admin Admin <konstantinkulebaev@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "ebcf2b09-cd83-42f3-b5e0-89c4fcaad4a1",
        "projectRelations": [
          {
            "updatedAt": "2026-02-20T06:29:02.050Z",
            "createdAt": "2026-02-20T06:29:02.050Z",
            "userId": "ebcf2b09-cd83-42f3-b5e0-89c4fcaad4a1",
            "projectId": "XeBXiP5yJsi5DYCS",
            "user": {
              "updatedAt": "2026-02-20T07:00:31.077Z",
              "createdAt": "2026-02-20T06:29:01.427Z",
              "id": "ebcf2b09-cd83-42f3-b5e0-89c4fcaad4a1",
              "email": "konstantinkulebaev@gmail.com",
              "firstName": "Admin",
              "lastName": "Admin",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "B2QRqtVwapqY1zsf",
                "userActivatedAt": 1771570828063
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-20",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-20T06:43:19.318Z",
    "createdAt": "2026-02-20T06:41:56.602Z",
    "versionId": "9cbfb71c-db21-471f-98cb-9698fa057e5a",
    "workflowId": "B2QRqtVwapqY1zsf",
    "nodes": [
      {
        "parameters": {
          "url": "https://api.boosty.to/v1/blog/kulebaevadaria/subscribers",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "sort_by",
                "value": "on_time"
              },
              {
                "name": "limit",
                "value": "200"
              },
              {
                "name": "order",
                "value": "lt"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          400,
          -96
        ],
        "id": "86aee0c5-08b1-4c96-bf25-4e8acb76e53b",
        "name": "HTTP Request",
        "credentials": {
          "httpBearerAuth": {
            "id": "kAG7U4K6lerXOxcl",
            "name": "Bearer Auth account | Boosty"
          }
        }
      },
      {
        "parameters": {
          "fieldToSplitOut": "data",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          608,
          -96
        ],
        "id": "205f56b7-926c-49ec-a9d0-64df6d6a8410",
        "name": "Split Out"
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "1Gc5uUKoYkTBOITi7gojfiCqomyWpHb9GHX4fr1BZzgI",
            "mode": "list",
            "cachedResultName": "Ведение Бизнеса",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Gc5uUKoYkTBOITi7gojfiCqomyWpHb9GHX4fr1BZzgI/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 422581622,
            "mode": "list",
            "cachedResultName": "Платные подписчики в Boosty",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Gc5uUKoYkTBOITi7gojfiCqomyWpHb9GHX4fr1BZzgI/edit#gid=422581622"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "id": "={{ $json.id }}",
              "name": "={{ $json.name }}",
              "email": "={{ $json.email }}",
              "status": "={{ $json.status }}",
              "subscribed": "={{ $json.subscribed }}",
              "level_name": "={{ $json.level.name }}",
              "price": "={{ $json.level.price }}",
              "payments": "={{ $json.payments }}",
              "onTime": "={{ DateTime.fromSeconds($json.onTime).format('dd-MM-yyyy HH:mm:ss') }}"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "name",
                "displayName": "name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "email",
                "displayName": "email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "subscribed",
                "displayName": "subscribed",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "level_name",
                "displayName": "level_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "price",
                "displayName": "price",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "payments",
                "displayName": "payments",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "onTime",
                "displayName": "onTime",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          816,
          -96
        ],
        "id": "af061e7b-fc2e-43a5-826c-ee41bd61a182",
        "name": "Append or update row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "8vrwGyi32Hp1irKM",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "8593464393",
          "text": "=✅ Подписчики Boosty обновлены  📊 Google Sheets: данные синхронизированы 🕒 {{ DateTime.now().setLocale('ru').toLocaleString({ month: 'long', day: 'numeric', hour: 'numeric', minute: '2-digit' }) }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1232,
          -96
        ],
        "id": "5cce43ae-ed02-4053-a86f-28e41554aadb",
        "name": "Send a text message",
        "webhookId": "41150648-a0e6-4a38-ad7a-effba0839589",
        "credentials": {
          "telegramApi": {
            "id": "31G0PoTb4LqbBRW5",
            "name": "Telegram account | Notification Bot"
          }
        }
      },
      {
        "parameters": {
          "keep": "lastItems"
        },
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          1024,
          -96
        ],
        "id": "6118b0af-f590-4530-b7f5-7114d0cd126d",
        "name": "Limit"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 10
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          192,
          -96
        ],
        "id": "0c334e6d-0236-4515-8727-59c4ef46f6eb",
        "name": "Schedule Trigger"
      }
    ],
    "connections": {
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Append or update row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append or update row in sheet": {
        "main": [
          [
            {
              "node": "Limit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Admin Admin",
    "name": "Version 9cbfb71c",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-20T06:43:19.316Z",
        "id": 2,
        "workflowId": "B2QRqtVwapqY1zsf",
        "versionId": "9cbfb71c-db21-471f-98cb-9698fa057e5a",
        "event": "activated",
        "userId": "ebcf2b09-cd83-42f3-b5e0-89c4fcaad4a1"
      }
    ]
  }
}